<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero.name }}</mat-card-title>
  </mat-card-header>
  <div class="card-canvas" id="img-container" (click)="onClick()">
    <img
      class="hero-img card-canvas"
      mat-card-image
      [src]="hero.url"
      bcmDefaultImage
      default="assets/images/empty-image.png"
      alt="{{ 'Photo of ' + hero.name }}"
    />
  </div>
  <mat-card-content *ngIf="viewMode === 'full'">
    <div (click)="onClick()" class="card-canvas">
      <p>
        {{ hero.description }}
      </p>
    </div>
  </mat-card-content>
  <ng-container [ngSwitch]="viewMode">
    <mat-card-actions *ngSwitchCase="'condensed'">
      <button
        (click)="onClick()"
        mat-stroked-button
        color="accent"
        aria-label="Read more"
      >
        Read more
      </button>
    </mat-card-actions>

    <mat-card-actions *ngSwitchCase="'full'">
      <button
        (click)="onCardActionClick()"
        mat-stroked-button
        color="accent"
        aria-label="Edit"
      >
        Edit
      </button>
    </mat-card-actions>
  </ng-container>
</mat-card>
