<mat-card>
  <mat-card-content>
    <div>
      <span class="text-secondary">{{ hero.name | uppercase }}</span> details
    </div>
    <form [formGroup]="heroForm" class="mt-2">
      <div>
        <label>ID: {{ hero?.id }}</label>
      </div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="Enter heroe's name"
          name="name"
        />
      </mat-form-field>
      <div>
        <button mat-flat-button name="save" color="primary">Save</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
