/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "variables";

$body-bg: rgb(48, 48, 48);
$theme-colors: ("primary": #343a40, "secondary": #217fa3);
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./theming/darkTheme";

html,
body {
    height: 100%;
    padding: 10px;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
